.header {
  grid-area: header;
}

.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-links {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    align-items: center;
    margin-right: 0.8rem;
}

nav ul li {
    list-style-type: none;
}
.main {
  grid-area: main;
}

.float-image {
    width: 12vw;
    height: 14vh;
    margin-top: 8px;
}

.ecology-image {
    float: right;
    height: 20vh;
    margin-bottom: 30px;
}

.habitat-image {
    float: left;
    height: 15vh;
    margin-right: 10px;
}

.claw-image {
    float: right;
    height: 25vh;
    margin-left: 10px;
}

.eye-image {
    float: right;
    height: 30vh;
    margin-right: 10px;
}

.sci-classification {
    float: left;
    text-align: center;
    margin-right: 0.5rem;
    border: solid black 0.4rem;
    padding: 10px;
}
.footer {
  grid-area: footer;
}

.references {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}
